@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<BrowserDimensionsView Context="dimensions">
    <BrowserPageOffsetView Context="offset">
        <dl>
            <dt>Page Offset</dt>
            <dd>@offset.X, @offset.Y</dd>
            <dt>Inner Height</dt>
            <dd>@(dimensions.InnerDimensions.Height)px</dd>
            <dt>Inner Width</dt>
            <dd>@(dimensions.InnerDimensions.Width)px</dd>
            <dt>Outer Height</dt>
            <dd>@(dimensions.OuterDimensions.Height)px</dd>
            <dt>Outer Width</dt>
            <dd>@(dimensions.OuterDimensions.Width)px</dd>
    </dl>
    </BrowserPageOffsetView>
</BrowserDimensionsView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
