@page "/counter"

<h1>Cascading Window Info</h1>

<EditForm Model="this" style="display: flex; gap: 1rem; margin-bottom: 1rem;">
    <div class="form-group">
        <label for="resizeDebounce">Resize Debounce [ms]</label>
        <InputNumber @bind-Value="ResizeDebounce" id="resizeDebounce" class="form-control" min="0" />
    </div>
    <div class="form-group">
        <label for="scrollDebounce">Scroll Debounce [ms]</label>
        <InputNumber @bind-Value="ScrollDebounce" id="scrollDebounce" class="form-control" min="0" />
    </div>
</EditForm>

<WindowDimensionsInfo Context="dimensions" Debounce="ResizeDebounce">
    <PageOffsetInfo Context="offset" Debounce="ScrollDebounce">
        <dl>
            <dt>Page Offset</dt>
            <dd>@offset.X, @offset.Y</dd>
            <dt>Inner Height</dt>
            <dd>@(dimensions.InnerHeight)px</dd>
            <dt>Inner Width</dt>
            <dd>@(dimensions.InnerWidth)px</dd>
            <dt>Outer Height</dt>
            <dd>@(dimensions.OuterHeight)px</dd>
            <dt>Outer Width</dt>
            <dd>@(dimensions.OuterWidth)px</dd>
        </dl>
    </PageOffsetInfo>
</WindowDimensionsInfo>

@code {

    public int ResizeDebounce { get; set; } = 300;
    public int ScrollDebounce { get; set; } = 300;
}
