@page "/"

<h1>Using EventCallbacks</h1>

<BrowserDimensionsInfo OnResize="UpdateDimensions" />
<BrowserPageOffsetInfo OnScroll="UpdatePageOffset" />

@if (Dimensions == null || PageOffset == null)
{
    <p>Loading browser window info...</p>
}
else
{
    <dl>
        <dt>Page Offset</dt>
        <dd>@PageOffset.X, @PageOffset.Y</dd>
        <dt>Inner Height</dt>
        <dd>@(Dimensions.InnerDimensions.Height)px</dd>
        <dt>Inner Width</dt>
        <dd>@(Dimensions.InnerDimensions.Width)px</dd>
        <dt>Outer Height</dt>
        <dd>@(Dimensions.OuterDimensions.Height)px</dd>
        <dt>Outer Width</dt>
        <dd>@(Dimensions.OuterDimensions.Width)px</dd>
    </dl>
}

@code {

    private BrowserWindowDimensions? Dimensions { get; set; }
    private BrowserWindowPageOffset? PageOffset { get; set; }

    private void UpdateDimensions(BrowserWindowDimensions dimensions)
    {
        Dimensions = dimensions;
    }

    private void UpdatePageOffset(BrowserWindowPageOffset pageOffset)
    {
        PageOffset = pageOffset;
    }
}