@page "/"
@inject BrowserWindowService BrowserService
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (Window == null)
{
    <p>Loading window info...</p>
}
else
{
    <dl>
        <dt>Page Offset</dt>
        <dd>@Window.PageOffset.X, @Window.PageOffset.Y</dd>
        <dt>Inner Height</dt>
        <dd>@(Window.Size.InnerDimensions.Height)px</dd>
        <dt>Inner Width</dt>
        <dd>@(Window.Size.InnerDimensions.Width)px</dd>
        <dt>Outer Height</dt>
        <dd>@(Window.Size.OuterDimensions.Height)px</dd>
        <dt>Outer Width</dt>
        <dd>@(Window.Size.OuterDimensions.Width)px</dd>
    </dl>
}

@code {

    private BrowserWindow? Window { get; set; }

    public void Dispose()
    {
        BrowserWindowService.OnResize -= LoadBrowserWindow;
        BrowserWindowService.OnScroll -= LoadBrowserWindow;
        GC.SuppressFinalize(this);
    }

    protected override async Task OnInitializedAsync()
    {
        await BrowserService.SubscribeToResize();
        await BrowserService.SubscribeToScroll();

        BrowserWindowService.OnResize += LoadBrowserWindow;
        BrowserWindowService.OnScroll += LoadBrowserWindow;

        await LoadBrowserWindow();
    }

    private async ValueTask LoadBrowserWindow()
    {
        Window = await BrowserService.GetBrowserWindow();
        StateHasChanged();
    }
}