@page "/"
@inject IBrowserWindowService BrowserService

<PageTitle>Index</PageTitle>
<BrowserWindowInfo OnResize="UpdateDimensions" OnScroll="UpdatePageOffset" />

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (BrowserWindow == null)
{
    <p>Loading browser window info...</p>
}
else
{
    <dl>
        <dt>Page Offset</dt>
        <dd>@BrowserWindow.PageOffset.X, @BrowserWindow.PageOffset.Y</dd>
        <dt>Inner Height</dt>
        <dd>@(BrowserWindow.InnerHeight)px</dd>
        <dt>Inner Width</dt>
        <dd>@(BrowserWindow.InnerWidth)px</dd>
        <dt>Outer Height</dt>
        <dd>@(BrowserWindow.OuterHeight)px</dd>
        <dt>Outer Width</dt>
        <dd>@(BrowserWindow.OuterWidth)px</dd>
    </dl>
}


@code {

    private BrowserWindow? BrowserWindow { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BrowserWindow = await BrowserService.GetBrowserWindow();
    }

    private void UpdateDimensions(BrowserWindowDimensions dimensions)
    {
        BrowserWindow = BrowserWindow! with { Dimensions = dimensions };
    }

    private void UpdatePageOffset(BrowserWindowPageOffset pageOffset)
    {        
        BrowserWindow = BrowserWindow! with { PageOffset = pageOffset };
    }
}